body {
	background-color: #388e3c;
	color: white;
}

.glyph {
	vertical-align:middle;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto; 
}

.example-chart {
	width: 50%;
	margin-left: 25%;
	position: relative;
	display: block;
}

.login-card {
	padding-top:10%;
	padding-bottom:10%;
}

.login-div {
	margin-left: 33%;
	position: relative;
}